@import '../../styles/import'

@import '../../styles/classes/button'

.root
  align-items center
  display flex

  li
    display flex

.non-responsive
  height 100%

  li
    height @height

  .button
    height @height

    span
      height @height
      padding-left 2rem
      padding-right @padding-left

.responsive
  flex-flow row wrap
  justify-content center

.login
  background-color lighten(beige2, 60%)

  &:after
    background-color beige

  span
    color brownish

    &:before
      icon('login', 'dark')

.register
  background-color orange

  &:after
    background-color purple

  span
    &:before
      icon('new-user', 'light')
