@import '../../styles/import'

.root
  a
    display block
    color brownish
    font(altFont)
    line-height 1
    padding 1rem
    fs(1.25, 300)

.non-responsive
  display flex
  margin-right 1rem

.responsive
  text-align center
  margin-bottom 2rem

  a
    fs(1.5, 300)
