@import '../../styles/import'

@import '../../styles/classes/forms/input-text'
@import '../../styles/classes/search'

.root
  position relative

.input-text
  fs(1.2)
  placeholder(brownish)
  padding-left 38px
  text-align center

.clear-search

  &:before
    icon('x-big', 'dark')
