@import '../../styles/import'

@import '../../styles/classes/forms/input-text'
@import '../../styles/classes/search'

.root
  position relative

.input-text
  placeholder(brownish)

.clear-search
  &:before
    icon('x-big', 'dark')
