@import '../../styles/import'

@import '../../styles/classes/button'

.root
  height 80vw
  min-height 15rem
  position relative
  overflow hidden

  &.user-photo
    height 25rem

.photo
  wh(100%)
  overflow hidden
  display flex

.label
  bottom 0
  left 50%
  cursor pointer
  position absolute
  transform translateX(-50%)
  background orange

  &:after
    background darken(desaturate(orange, 10%), 10%)

  span
    &:before
      icon('up', 'light')

.uploading
  background orange

  &:after
    display none

  span
    &:before
      icon('timeglass', 'light')

.error
  font(altFont)
  buttonPadding(1rem)
  background yellow
  position absolute
  left 2rem
  right 2rem
  top 2rem
  width auto
  text-align center

.input-file
  wh(0.1px)
	opacity 0
	overflow hidden
	position absolute
	z-index -1

@media (min-width: 699px)
  .root
    height 35rem
