@import '../../styles/import'

@import '../../styles/classes/boxes'
@import '../../styles/classes/button'
@import '../../styles/classes/center'
@import '../../styles/classes/headings'
@import '../../styles/classes/more-link'
@import '../../styles/classes/recipe-box'

.heading
  background orange
  color white
