// variables/mixins

@import './mixins'
@import './variables'

// global

@import './classes'
@import './font-faces'
@import './input'

html *
*:before
*:after
  box-sizing border-box
  margin 0
  padding 0

::selection
  background-color yellow
  color brownish

html
  font-size 100%
  height 100%
  overflow-x hidden
  overflow-y scroll

body
  font(defaultFont)
  fs(1)
  background-color beige2
  color brownish
  height 100%
  line-height 2

ul
ol
  list-style none

a
  color orange
  text-decoration none
