textWidth = 40rem

// white space

spacing = 8

// fonts

altFont = 'Raleway'
defaultFont = 'Playfair Display'
logoFont = 'Petit Formal Script'

// colors

beige = #e8e4e1
beige2 = lighten(beige, 60%)
beige3 = darken(beige2, 4%)
brownish = #4d4849
brownish2 = lighten(brownish, 50%)
cyan = #6fa294
orange = #d27a5d
purple = #665c61
purple2 = #4f4648
yellow = #f5e7b1

black = #222
black2 = #444

gray = #666
gray2 = #888
gray3 = #aaa
gray4 = #ccc
gray5 = #eee
gray6 = #f5f5f5

// z-index

responsiveIndex = 4
headerIndex = 2
inputIndex = 3
userIndex = 1

// consistent

three = 20em
four = 25em
five = 31.25em
six = 37.5em
seven = 43.75em
eight = 50em
nine = 56.25em
one = 62.5em
oneone = 68.75em
onetwo = 75em
onethree = 81.25em
onefour = 87.5em
onefive = 93.75em
onesix = 100em
oneseven = 106.25em
oneeight = 112.5em
onenine = 118.75em
two = 125em
