.edit-nav
  align-items center
  display flex

.sort-up
.sort-down
.remove
  display block
  opacity .5
  transition opacity .2s ease
  wh(50px)

  &:hover
    opacity 1

  &:after
    wh(100%)

  &.disabled
    opacity .25
