.error
  font(altFont)
  color orange
  line-height 1.4

@media (max-width: 567px)
  .error
    margin-top 1rem

@media (min-width: 567px)
  .error
    margin-left 1rem
    border-left 1px solid rgba(brownish, .2)
    padding-left 1rem
