@import '../../styles/import'

.root
  wh(100%)
  background rgba(purple2, .9)
  display block
  left 0
  top @left
  overflow auto
  position fixed
  z-index inputIndex
  padding-top 6rem
  padding-bottom 2rem

.user-input-section
  center()
  min-height 100%

.close
  wh(28px)
  position absolute
  right 2rem
  top @right

  &:after
    wh(100%)
    icon('x-big', 'light')
    content ''
    display block

@media (min-width: 1023px)
  .close
    right 4rem
    top @right

@media (min-width: 1139px)
  .root
    padding-top 2rem
    padding-bottom @padding-top
