@import '../../styles/import'

.root
  font(altFont)
  align-items center
  color brownish
  display flex
  line-height 1
  padding 1rem

  &:before
    wh(20px)
    icon('heart', 'red')
    background-position center
    background-repeat no-repeat
    transition background.1s ease

  &.link
    &:hover
      &:before
        icon('heart-filled', 'red')

.has-likes
  &:before
    margin-right .5rem

.liked
  &:before
    icon('heart-filled', 'red')

  &.recipe
    &:before
      icon('heart-filled', 'light')

.recipe
  color white

  &:before
    icon('heart', 'light')

  &.link
    &:hover
      &:before
        icon('heart-filled', 'light')

.link
  width auto
