@import '../../styles/import'

@import '../../styles/classes/boxes'
@import '../../styles/classes/button'
@import '../../styles/classes/center'
@import '../../styles/classes/filter'
@import '../../styles/classes/headings'
@import '../../styles/classes/more-link'
@import '../../styles/classes/recipe-box'
@import '../../styles/classes/sort-nav'

.heading
  color white
  margin-bottom 2rem

.center
  padding 2rem
