.boxes
  display flex
  flex-flow row wrap

.box
  center(text: true)
  overflow hidden
  flex 0 0 100%
  padding 2rem
  breakWord()

@media (min-width: 567px)
  .box
    flex-basis 50%

@media (min-width: 849px)
  .box
    flex-basis (100 / 3)%

@media (min-width: 1023px)
  .box
    flex-basis 25%

@media (min-width: 1399px)
  .box
    flex-basis 20%
