.section-nav
  margin-bottom .5rem

.update-user-link
.recipes-link
.comments-link
  font(altFont)
  fs(1.5)
  display block
  color white
  transition opacity .2s ease
  opacity .6
  padding .5rem
  text-align center
  line-height 1.25

  &:hover
  &.active
    opacity 1

.heading
  color white
  margin-bottom 2rem

.no-items
  h2
    font(altFont)
    fs(2, 300)
    line-height 1.5

.search-sort
  width 100%
  max-width 15rem

.search
  position relative
  margin-bottom 1rem
  z-index 2

.magnifying-glass
  svg('/icons/magnifying-glass-light')

.input-text
  color white

.clear-search
  &:before
    icon('x-big', 'light')
