.recipe
  background white
  padding 0

.photo
  display flex
  height 15rem
  width 100%

.content
  center(text: true)
  flex-grow 1
  justify-content space-around
  width 100%
  padding 2rem

.title
  fs(2)
  line-height 1.6
  margin-bottom 2rem

.link
  color brownish
  display block

.numbers
  display flex
  justify-content center
  margin-bottom 1rem

.comments
  align-items center
  color brownish
  display flex
  font(altFont)
  line-height 1
  padding 1rem

  &:before
    background-position center
    background-repeat no-repeat
    icon('comments', 'dark')
    margin-right .5rem
    wh(20px)

.author-and-date
  color brownish2
  font(altFont)

.author
  color brownish

.edit-nav
  margin-top 1rem
