@import '../../styles/import'

.root
  display flex
  border-radius 100%
  overflow hidden
  wh(4rem)
  min-width 4rem
  min-height @min-width

.medium
  wh(6rem)

.large
  wh(8rem)

.no-photo
  background purple
  center()
  color white
  font(logoFont)
  fs(2)
  text-transform uppercase
