@import '../../styles/import'

.root
  wh(4rem)
  display flex
  border-radius 100%
  overflow hidden
  position relative
  z-index 1

.medium
  wh(6rem)

.large
  wh(8rem)

.no-photo
  center()
  font(logoFont)
  fs(2)
  background-color purple
  color white
  text-transform uppercase
