@import '../../../styles/import'

@import '../../../styles/classes/forms/header'
@import '../../../styles/classes/forms/input-text'
@import '../../../styles/classes/forms/label'
@import '../../../styles/classes/forms/recipe-error'
@import '../../../styles/classes/forms/section'

.root
  background beige3

.input-text
  border-bottom 1px solid rgba(brownish, .1)
