@import '../../styles/import'

@import '../../styles/classes/center'
@import '../../styles/classes/headings'

.root
  display flex
  flex-flow column nowrap
  flex-grow 1
  width 100%
  position relative
  z-index userIndex
