@import '../../styles/import'

.root
  position relative
  flex-grow 1
  background-color purple

  > div
    wh(100%)
    position absolute
    left 0
    top @left
    background-position center
    background-repeat no-repeat
    background-size cover

.loading
.no-photo
  opacity .5

.loading
  svg('loading')

.no-photo
  svg('no-photo')
