@import '../../styles/import'

.root
  flex-grow 1
  background-color purple
  background-position center
  background-repeat no-repeat
  background-size 3vw
  svg('/icons/timeglass-light')

.photo
  wh(100%)
  background-position center
  background-repeat no-repeat
  background-size cover

.no-photo
  background-image none

  &:before
    background-position center
    background-repeat no-repeat
    background-size cover
    content ''
    svg('no-photo')
    display block
    opacity .5
    wh(100%)
