@import '../../styles/import'

@import '../../styles/classes/button'

.root
  text-align center

.message
  fs(2, 300)
  font(altFont)
  color beige
  line-height 1.2
  max-width 20rem
  padding 2rem

.yes
  background-color darken(purple2, 8%)

  &:after
    background-color orange

  span
    &:before
      icon('check', 'light')

.no
  background-color lighten(purple2, 4%)

  &:after
    background-color cyan

  span
    &:before
      icon('x', 'light')

.requesting
  background-color orange

  &:after
    display none

  span
    &:before
      icon('timeglass', 'light')
